
| ---
| layout: default
| ---
|


hr

.datatest
  h2 datatest
  ul
    | {% for session_hash in site.data.sessions %}
    | {% assign session = session_hash[1] %}

    li
      p {{ session.title }}
      p {{ session.abstract }}
      p {{ session.speaker_name }}
      p {{ session.speaker_link_url }}
      p
        img(src="{{ session.speaker_pic_url }}")
      p {{ session.speaker_twitter_handle }}
      p {{ session.speaker_github_handle }}
      p {{ session.speaker_short_bio }}
      | {% endfor %}

.home
  hr
  h1.page-heading
    | Posts

  hr
  ul.post-list
    | {% for post in site.posts %}
    li
      span.post-meta {{ post.date | date: "%b %-d, %Y" }}
      h2
        a.post-link(href='{{ post.url | prepend: site.baseurl }}') {{ post.title }}
    | {% endfor %}
  p.rss-subscribe
    | subscribe

    a.post-link(href="{{ post.url | prepend: site.baseurl }}")
      | {{ post.title }}

    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
